PORT=4000
MONGO_URI=URLMONGO
MONGO_DB_NAME=linkchat
CLIENT_URL=http://localhost:5173
# CLIENT_URLS=http://localhost:5173,https://tu-frontend.vercel.app
# CLIENT_URL_SUFFIXES=***
NODE_ENV=development
JWT_SECRET=JWTSECRET

AWS_REGION=
AWS_S3_BUCKET=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=