PORT=4000
MONGO_URI=URLMONGO
MONGO_DB_NAME=linkchat
CLIENT_URL=http://localhost:5173
# CLIENT_URLS=http://localhost:5173,https://tu-frontend.vercel.app
# CLIENT_URL_SUFFIXES=-sam21s-projects-81c6047d.vercel.app
NODE_ENV=development
